* { 
	/*border: .1px solid white; */
	border: none;
	/*transition: all .5s;
	transition-timing-function: ease-out;*/
	}

.name_surround {
	margin-left: auto;
	position: relative;
}

#daniel_gultom {
	/*width: 80%;*/
	width: 100%;
	margin-left: auto;
    margin-right: auto;
    max-width: 700px;
    display: table-cell;
}

.test {
	font-size: 70px;
	color: white;
}

.test_font {
	/*"glowing"*/
	text-shadow: 0px 0px 6px rgba(255,255,255,0.7);
}

#d1 {
	font-family: 'Nanum Gothic', sans-serif;
}

#d2 {
	font-family: 'Raleway', sans-serif;
}

#d3 {
	font-family: 'Lato', sans-serif;
}

#d4 {
	font-family: 'Pacifico', cursive;
}

#d5 {
	font-family: 'Righteous', cursive;
}

#d6 {
	font-family: 'Press Start 2P', cursive;
}

#d7 {
	font-family: 'Viga', sans-serif;
}

#d8 {
	font-family: 'Dubtronic Solid', arial;
}

#d9 {

}

#d10 {
	font-family: 'Codystar', cursive;
}