body {
	font-family: 'Raleway', sans-serif;
	/*font-family: "Comic Sans MS", "Comic Sans", cursive;*/
	/*background-color: #C0C0C0;*/
	background-color: black;
	color: white;

}

.bannerElem{
	/*background-color: #d9e8f7;*/
	display: inline-block;
	width: 45%;

}
#hey {
	font-size: 200px;
	text-align: right;
	margin-left: 4%;
	top: 0;
}
#intro {

}
#myName {
	font-size: 75px;
	display: block;
}
#daniel {
	font-size: 75px;
	display: block;
}



#greeting {
	position: fixed;
	top: 500px;
	left: 40%;
	right: 30%;
	margin-top: -50px;
	margin-left: -100px;
}



