body {
	font-family: 'Raleway', sans-serif;
}

#banner {
	/*background-color: red;*/
}
.bannerElem{
	background-color: #d9e8f7;
	display: inline-block;
	width: 45%

}
#hey {
	font-size: 100px;
	text-align: right;
	margin-left: 2.5%;
}
#myName {
	font-size: 75px;
}
#daniel {
	font-size: 75px;
}



#greeting {
	position: fixed;
	top: 500px;
	left: 40%;
	right: 30%;
	margin-top: -50px;
	margin-left: -100px;
}



